.App {
  text-align: center;
}

.App .container .row .col .card-input {
  border: 2px solid;
  padding: 15px 50px;
}
.App .container .row .col .card-input .title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}
.App .container .row .col .card-input .input-list {
  border: 1px solid;
  margin: 10px auto;
  width: 80%;
  display: block;

}

.App .container .row .col .card-input .btn {
  border: 1px solid;
  margin: 10px auto;
  width: 50%;
  display: block;

}

.App .container .row .col .card-input .row .col-text{
  padding: 10px 0;
}